*{
    margin: 0;
    padding: 0;
}

.home{
    background: linear-gradient(to top, transparent, #333), url("../../src/assets/entrance.jpg");
    background-size: cover;
    height: 50vh;
    width: 98.9vw;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.5rem;
}

article{
    margin-top: 1rem;
}
main{
    padding: 3rem;
}
p{
    margin-top: 0.5rem;
}


